        .auto-style1 {
            font-family: Arial;
            font-weight: bold;
        }
        
        .form {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }


        #lblprofil{
        margin-top:15px; 
        color:white;
        }

        .glyphicon{
            color:white;
        }